<div class="new-container">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

  <div class="add-instrument">
    <h4><strong>Book this instrument</strong></h4>
  </div>
  <br>

    <div class="newer-container">
        <%= simple_form_for [@instrument, @booking], url: instrument_bookings_path do |f| %>
        <%= f.error_notification %>

        <div class="hey-ho">
            <%= f.input :start_date %>
        </div>

        <div class="pls-work">
        <%= f.input :end_date, as: :date %>
        </div>

        <div class="rolling-button">
        <%= f.submit 'Book', class: "index-button" %>
      </div>
      <% end %>
    </div>
</div>
