<h3>Yey! Your instrument has been successfully booked!</h3>

<%= @booking.instrument.name.capitalize %>

    <div class="card-product">
      <%= cl_image_tag @booking.instrument.photo, brightness: 30, radius: 20, width: 300, height: 300, crop: :thumb %>
        <div class="card-product-infos">
          <h4><%= @booking.instrument.name.capitalize %></h4>

          <h5>
            Total price: <%= @total_price %>€
          </h5>
          <%= @lucie %>
      </div>
    </div>
  </div>
