<div class="new-container">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">


  <div class="add-instrument">
    <h5> <strong> Add new instrument </strong> </h5>
    <h6> Start sharing your instrument and make others enjoy it.</h6>
  </div>
  <br>
  <div class="newer-container">
    <%= simple_form_for @instrument do |f| %>
    <%= f.error_notification %>
    <div class=hey-ho>
      <h6><strong>Category</strong></h6>
    <%= f.input :category, label: "First, let’s narrow things down", collection: @categories %>
    </div>
    <div class="pls-work">
      <h6><strong>Name your place</strong></h6>
    <%= f.input :name, label: "Attract with a listing title that highlights what makes your instrument special", placeholder: "Listing title", :label_html => { :class => "label-css"} %>
    </div>
    <div class="its-working">
      <h6><strong>Add photos to your listing</strong></h6>
    <%= f.input :photo, label: "Photos help guests imagine renting your instrument. You can start with one and add more after you publish" %>
    <%= f.input :photo_cache, as: :hidden %>
    </div>
    <div class="awesome-life">
      <h6><strong>Description</strong></h6>
    <%= f.input :description, label: "Write a quick summary of your instrument. Highlight what’s special about it", placeholder: "e.g. This is a family souvenir from Spain. Unfortunately nobody got to play it"  %>
    </div>
    <div class="city-class">
    <h6><strong>Location</strong></h6>
    <%= f.input :city, label: "Choose where your instrument can be rented", placeholder: "City" %>
  </div>
    <div class="price-class">
      <h6><strong>Price your instrument</strong></h6>
    <%= f.input :price, label: "Set up the same base price for each day", placeholder: "€" %>
    </div>
    <div class="rolling-button">
    <%= f.submit 'Publish', class: "cute-button" %>
  </div>
  <% end %>
</div>
</div>
