<div class="browse-bar">
  <h3>Browse Instruments</h3>

 <div class="nav-buttons">
  <%= link_to "View all", instruments_path, class: 'index-button' %>

  <% Instrument.categories.keys.each do |category| %>
    <%= link_to category.capitalize, instruments_path(query: category), class: 'index-button' %>
  <% end %>
</div>

<div class="index-container">
  <div class="box">
    <% @instruments.each do |instrument| %>
    <div class="moving-card">
      <div class="imgBx">
        <%= link_to (cl_image_tag instrument.photo), instrument_path(instrument) %>
      </div>
      <div class="details">
        <h2>City: <%= instrument.city %><br>
         <span>Price: <%= instrument.price %></span></h2>
       </div>
        <br />
      </div>
    </div>
    <% end %>
 </div>
