<div class="container">

  <h2>Instrument</h2>

  <div class="show-flex">

    <div class="card-product">
      <%= cl_image_tag @instrument.photo, brightness: 30, radius: 12, width: 300, height: 300, crop: :thumb %>
        <div class="card-product-infos">
          <h4><%= @instrument.name.capitalize %></h4>
          <h6><%= @instrument.category.capitalize %></h6>
            <p>
              <%= @instrument.description %>
            </p>
          <h5>
            City: <%= @instrument.city %>
          </h5>
          <div id="price">
          <h6>
            Price per day: <%= @instrument.price %>€
          </h6>
          </div>

          <div class="button-box">
          <% if @instrument.user == current_user %>
              <%= link_to 'Edit', edit_instrument_path(@instrument), { class: 'index-button' } %>
              <div id="button-with-margin">
                <%= link_to "Delete", instrument_path(@instrument),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'index-button' %>
                </div>
              <% else %>
                <%= link_to  "Book this instrument", new_instrument_booking_path(@instrument), { class: 'index-button' } %>
             <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
