<div class="container">

  <h2>Instrument</h2>

  <div class="show-flex">

    <div class="card-product">
      <%= cl_image_tag @instrument.photo, brightness: 30, radius: 20, width: 300, height: 300, crop: :thumb %>
        <div class="card-product-infos">
          <h4><%= @instrument.name.capitalize %></h4>
          <h6><%= @instrument.category.capitalize %></h6>
            <p>
              <%= @instrument.description %>
            </p>
          <h5>
            City: <%= @instrument.city %>
          </h5>
          <h5>
            Price per day: <%= @instrument.price %>€
          </h5>

          <% if @instrument.user == current_user %>

              <div id="button-with-margin">
                <%= link_to "Delete #{@instrument.name}", instrument_path(@instrument),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                </div>
                <%= link_to 'Edit', edit_instrument_path(@instrument) %>

              <% else %>



          <% end %>

      </div>
    </div>
  </div>

    <div class="card-product">
      <h3>Reviews</h3>
      <p>we can hard code reviews here</p>
  </div>
</div>
</div>
